@model IEnumerable<_06_CRUDPersonas_Entities.clsPersona>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listadoCompleto</title>
</head>
<body>

    <p>@ViewData["Error"]</p>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDepartamento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idDepartamento)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idPersona }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idPersona }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idPersona })
                </td>
            </tr>
        }

    </table>

    <p>@ViewData["filasAfectadas"]</p>

</body>
</html>
